<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>打卡记录</title>
  </head>
  <body>
    <table>
      <tr>
        <th>主机名</th>
        <th>动作</th>
        <th>时间</th>
      </tr>
      <%
      h1 = {} of String => Time
      h2 = Hash(String, Array(Time::Span)).new() { |h, k| h[k] = [] of Time::Span }
      %>

      <% dates.each do |date| %>
        <% current_date = date[0] %>

        <tr>
          <th colspan="3" style="text-align: center;"><%= current_date %></th>
        </tr>

        <% date[1].each do |record| %>
          <%
          hostname, action, time, _ = record.values

          case action
          when "online"
            h1[hostname] = time
          when "offline"
            if h1[hostname]?
              key = "#{current_date}-#{hostname}"
              h2[key] << time - h1[hostname].not_nil!
              h1 = {} of String => Time
            end
          end
          %>
          <tr>
            <td><%= hostname %></td>
            <td><%= action %></td>
            <td><%= time.to_s("%H:%M:%S") %></td>
          </tr>
          <% if action == "offline" %>
            <tr style="background: #aaa;">
              <td colspan="3"></td>
            </tr>
          <% end %>
        <% end %> <!-- record each -->

        <% h2.select {|e| e.starts_with?(current_date) }.each do |k, v| %>
          <tr>
            <td colspan="3" style="text-align: center;"><%= k.sub("#{current_date}-", "") %>: <%= v.sum %></td>
          </tr>
        <% end %>

      <% end %> <!-- date each -->
    </table>
  </body>
</html>
